@use "../variables"

.header
  margin: auto
  display: grid
  grid-template-columns: 1fr auto
  align-items: center


  &__logo
    max-width: fit-content
    font-size: 1.5rem
    font-weight: 500

  &__nav
    font-weight: 500

    &__link
      display: inline-block
      padding: 0.5rem 1rem
      border-radius: variables.$rounded-full

      @include variables.interactive--background

      &.active, &.active:hover, &:has(.active, .active:hover)
        @include variables.theme($theme-color: primary-container)

      &.link:hover
        @include variables.theme($theme-color: surface-container)

      & a:hover
        text-decoration: none