.button {
  transition: opacity var(--transition-length);
}
.button:hover {
  opacity: var(--opacity-medium);
}
.button:active {
  transform: scale(var(--scale));
}

.button {
  font-weight: 500;
  padding: 8px 32px;
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: var(--rounded-full);
}
.with-icon {
  display: flex;
  gap: 4px;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--on-surface-variant);
}

.card,
.input {
  outline: 1px solid var(--outline);
  background-color: var(--surface-container-high);
  border-radius: var(--rounded-small);
}

.card {
  min-width: 192px;
  padding: 16px;
}

.input {
  width: 100%;
  padding: 4px 16px;
  background-color: var(--surface-container-high);
  border-radius: var(--rounded-small);
  font-size: 1.25rem;
}
.input:focus {
  outline: 2px solid var(--primary);
}
.input-with-error,
.input-with-error:focus {
  outline: 2px solid var(--error);
}

.text-error,
.error {
  color: var(--error);
  width: 100%;
}
.error {
  margin-top: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  min-height: 1lh;
}
.error-container {
  background-color: var(--error-container);
  color: var(--on-error-container);
}

.text {
  max-width: 60ch;
  color: var(--on-surface-variant);
}

.invisible-checkbox {
  position: absolute;
  inset: 0;
  opacity: 0;
}
