@use "variables"
@postcss-material-colors (primary: #ff0000)

html
  color-scheme: light dark

body
  font-family: Ubuntu, system-ui
  @include variables.theme($theme-color: background)

.primary
  @include variables.theme($theme-color: primary)

.secondary
  @include variables.theme($theme-color: secondary)

.tertiary
  @include variables.theme($theme-color: tertiary)

.error
  @include variables.theme($theme-color: error)

.surface
  @include variables.theme($theme-color: surface)

.primary-container
  @include variables.theme($theme-color: primary-container)

.secondary-container
  @include variables.theme($theme-color: secondary-container)

.tertiary-container
  @include variables.theme($theme-color: tertiary-container)

.error-container
  @include variables.theme($theme-color: error-container)

.surface-container
  background-color: var(--surface-container)

.surface-container-high
  background-color: var(--surface-container-high)