*, *::before, *::after
  box-sizing: border-box

*
  margin: 0
  padding: 0

html
  scroll-behavior: smooth

ul[role="list"]
  list-style-type: none

img, picture, video, canvas, svg
  display: block
  max-width: 100%

input, button, textarea, select
  border: none
  color: inherit
  font: inherit

textarea
  resize: vertical

